body{
margin: 15px;
padding: 15px;
width: 100%;
background-color:rgb(254,251,234);
font-family:'Josefin Sans','Josefin Slab', sans-serif;
font-size: 18px;
align-items: center;
justify-content: center;
text-align: center;
}
h1{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    font-family:'Josefin Sans', sans-serif;
    text-align: center;
}
h2{
    font-size: 30px;
    font-weight: normal;
    margin-top: 3px;
    font-family:'Josefin Sans', sans-serif;
    text-decoration: underline;
}
section{
background-color: rgb(254,251,234);
border: 5px;
padding: 0;
margin: 3px;
}
p{
    margin-bottom: 15px;
    font-family: 'Josefin Slab', sans-serif;
    line-height: 1.5;
}
ul{
   margin-bottom: 5px; 
   list-style-position: inside;
   text-align: center;
   font-family: 'Josefin Slab', sans-serif;
   justify-content: center;
   line-height: 1.5;
}
a:visited{
    color: rgb(156, 39, 176);
}
a:hover{
    color: rgb(30, 136, 229);
}
a:active{
   color: rgb(244, 143, 177); 
}
footer{
    font-size: 10px;
    font-style: italic;
}