body{
margin: 0;
padding: 0;
width: 100%;
background-color:rgb(254,251,234);
font-family: 'Times New Roman', Times, serif;
font-size: 18px;
text-align: center;
align-items: center;
justify-content: center;
}
h1{
    font-size: 30px;
    font-weight: bold;
    margin-top: 3px;
}
h2{
    font-size: 25px;
    font-weight: normal;
    margin-top: 3px;
}
section{
background-color: rgb(254,251,234);
border: 5px;
padding: 5px;
margin: 3px;
}
p{
    margin-bottom: 15px;
}
ul{
   margin-bottom: 5px; 
   list-style-position: inside;
   text-align: center;
}
a:visited{
    color: rgb(156, 39, 176);
}
a:hover{
    color: rgb(30, 136, 229);
}
a:active{
   color: rgb(244, 143, 177); 
}